@use "../../assets/styles/vars";

.time-counter {
  width: calc(100% - 0.4rem);
  max-width: 580px;
  height: 12px;
  margin: 1rem;
  border: 0.2rem solid vars.$board-bg-color;
  border-radius: 1rem;
  background-color: vars.$board-bg-color;
  overflow: hidden;

  &__progress {
    width: 0;
    height: 100%;
    border-radius: 3px;
    background-color: vars.$time-progress-bg-color;
    background: vars.$time-progress-bg-gradient-color;
    background-attachment: fixed;
    animation: slide 1s linear infinite;
    transition: width 200ms;

    &.stopped {
      animation-play-state: paused;
    }
  }
}

@keyframes slide {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 31px;
  }
}
